.logo {
  width: 150px;
}

.topmenu {
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.ui.footer {
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 100px !important;
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.top {
  font-weight: bold;
  font-size: 20px;
}

.bottom {
  font-size: 14px;
}

.email {
  margin-top: 40px;
}